<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="/css/application.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    {% include navigation.html %}
    {{ content }}        
    {% include footer.html %}
  </div>   
  <script type="text/javascript">
  </script>
</body>
</html>